<div class="row">

    <div class="col col-xs-4">
        <a href="#/exitTime">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Horário de saída</h3>
                </div>
                <div class="panel-body">Panel Body</div>
            </div>
        </a>
    </div>

    <div class="col col-xs-4">
        <a href="#/likelyExit">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Horário de saída (provável)</h3>
                </div>
                <div class="panel-body">Panel Body</div>
            </div>
        </a>
    </div>

    <div class="col col-xs-4">
        <a href="#/missingTime">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Tempo Restante</h3>
                </div>
                <div class="panel-body">Panel Body</div>
            </div>
        </a>
    </div>

</div>